# Arquivos de Build do CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Configurações de Usuário e IDE
CMakeLists.txt.user
CMakeUserPresets.json
.idea/
cmake-build-*/

# Ficheiros de Log e Sistema
*.log
.DS_Store
Thumbs.db

# Binários e bibliotecas
*.o
*.a
*.so
*.exe
*.dll
